<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="robots" content="none"/>
    <meta name="googlebot" content="noarchive"/>
    <meta http-equiv="refresh" content="5">
    <title>Site in maintenance</title>
    <link href="/login/error.css" rel="stylesheet"/>
    <link th:if="${georchestraStylesheet != null and !#strings.isEmpty(georchestraStylesheet)}"
      th:href="${georchestraStylesheet}" rel="stylesheet"/>
</head>
<body lang=EN>
<div id="wrapper">
    <div class="error-code">503</div>
    <p class="error-desc">Site in maintenance</p>
    <p>
        Due to maintenance, this service is temporarily unavailable.
    </p>
    <p>We're sorry for the inconvenience !</p>
    <p class="error-hint">Hint: do not close the tab - the requested page will show up in a few seconds.</p>
</div>
</body>
</html>