:root {
    --georchestra: #85127e;
    --google: #4285F4;
}
html, body{
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #333;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p {
    margin-top: 0;
}
.error-desc {
    font-weight: bold;
    font-size: 1.25rem;
}
.error-back {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: var(--georchestra);
    padding: 8px 8px;
    margin-top: 20px;
    border-radius: 5px;
}
.error-back:hover {
    background: color-mix(in srgb,var(--georchestra),#000 25%);
}
#error-img {
    max-height: 200px;
    max-width: 50vw;
}
.error-code{
    font-size: 15rem;
    font-weight: bold;
    background-image: linear-gradient(180deg, color-mix(in srgb,var(--georchestra),#fff 40%), color-mix(in srgb,var(--georchestra),#fff 95%));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.error-hint {
    font-size: 1rem;
    font-weight: 500;
    color: var(--georchestra);
}
