html, 
body {
  height: 100%;
  font-family: Inter, sans-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
:root {
  --georchestra: #85127e;
  --google: #4285F4;
}
/*bootstrap overwrites*/
.btn-primary {
  background-color: var(--georchestra);
  border-color: var(--georchestra);
  opacity: 1;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--georchestra);
  border-color: var(--georchestra);
  opacity: 0.8;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 18, 125,.25);
}
.btn-outline-primary {
  color: var(--google);
  background-color: transparent;
  background-image: none;
  border-color: var(--google);
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--google);
  border-color: var(--google);
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
  color: #495057;
  background-color: #fff;
  border-color: var(--georchestra);
  outline: 0;
  box-shadow: 0 0 0 0.2rem color-mix(in srgb,var(--georchestra),#fff 80%);
}
#login-left-col {
  border: 20px solid white;
  border-radius: 30px;
  border-end-end-radius: 0;
  border-start-end-radius: 0;
}
a {
  color: var(--georchestra);
  text-decoration: none;
}
a:hover {
  /*text-decoration: underline;*/
  color: color-mix(in srgb,var(--georchestra),#000 50%);
}
.fs-7 {
  font-size: 0.75rem;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #aaa;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.proconnect {
  width: 214px;
  height: 56px;
  border: none;
}

.btn-oauth2:has(.proconnect) {
  background-color: white !important;
}